{% extends "base.html" %}
{% block title %}Add Member{% endblock %}

{% block content %}

<form method="POST" action="/member/create" enctype="multipart/form-data">
    <h3 align="center">Add member</h3>
    <div class="form-group">
        <label for="full_name">Full name</label>
        <input 
        type="text" 
        class="form-control" 
        id="full_name" 
        name="full_name" 
        placeholder="Enter full name"
        />
    </div>
    <div class="form-group">
        <label for="id">ID</label>
        <input 
        type="text" 
        class="form-control" 
        id="id" 
        name="id" 
        placeholder="Enter ID"
        />
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <input 
        type="text" 
        class="form-control" 
        id="address" 
        name="address" 
        placeholder="City, street and street number"
        />
    </div>
    <div class="form-group">
        <label for="date">Date of birth</label>
        <input 
        type="date" 
        class="form-control" 
        id="date" 
        name="date" 
        placeholder="dd/mm/yyyy"
        />
    </div>
    <div class="form-group">
        <label for="phone">Phone number</label>
        <input 
        type="text" 
        class="form-control" 
        id="phone" 
        name="phone" 
        placeholder="xx-xxxxxxx"
        />
    </div>
    <div class="form-group">
        <label for="mobile_phone">Mobile Phone number</label>
        <input 
        type="text" 
        class="form-control" 
        id="mobile_phone" 
        name="mobile_phone" 
        placeholder="xxx-xxxxxxx"
        />
    </div>
    <div class="form-group">
        <label for="profileImg">Profile img</label>
        <br/>
        <input type="file" class="form-control-file" name="file" autocomplete="off" required/>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Add</button>
    <br />
</form>
{% endblock %}